@media screen and (max-width: 400px) {
  .vsignup-c {
    width: 90%;
  }
}

@media screen and (min-width: 500px) {
  .vsignup-c {
    width: 28rem;
  }
}

/* ATTEMPTING TO CREATE 2 COLUMNS */
@media screen and (min-width: 800px) {
  /* .catalog-container {
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: 900;
  } */
}

@media screen and (min-width: 1000px) {
  .vsignup-c {
    width: 40rem;
  }
}
