.home-carousel {
  /* margin: 0 30px auto; */
  width: 100%;
}

.home-carousel-img {
  /* margin-top: -1rem; */
  width: 100%;
}

.new-vendor {
  cursor: pointer;
}

.about-us-a {
  cursor: pointer;
}

.carousel-arrows {
  margin-top: 8.5rem;
  font-weight: 600;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  color: black;
  background-color: transparent;
}

.icon {
  font-size: 1rem;
}

.vsignup-c {
  background-color: #ececec;
  height: 35rem;
}

.vsignin-c {
  background-color: #ececec;
  width: 23rem;
  height: 25rem;
}

.vsignup-input,
.vsignin-input,
.new-listing-input,
.dropdown {
  color: #5a5a5a;
  width: 20rem;
  border-radius: 5rem;
  outline: none;
  border: none;
  height: 2.8rem;
  padding-left: 2rem;
}

.new-listin-desc {
  color: #5a5a5a;
  width: 20rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  height: 5rem;
  padding-top: 0.5rem;
  padding-left: 2rem;
}

.vsignup-input:focus::placeholder,
.vsignin-input:focus::placeholder {
  color: transparent;
}

.register,
.new-listing-submit,
.v-signin,
.v-signup,
.home,
.close-edit-form {
  color: #fff;
  font-size: 1.2rem;
  width: 10rem;
  height: 2rem;
  background-color: #046290;
  border-style: none;
  border-radius: 5rem;
  outline: none;
  border: none;
}

.delete-button {
  background-color: #fff;
  border: none;
}

.cancel-delete {
  color: #ef8181;
  font-size: 1.25rem;
  cursor: pointer;
}

.confirm-delete {
  color: #78e578;
  font-size: 1.25rem;
  cursor: pointer;
}

:is(
.back,
.home,
.register,
.viewer,
.v-sign-up,
.v-signup,
.v-signout,
.v-signin,
.add-listing,
.new-listing-submit,
.close-form,
.room-name,
.edit-button,
.close-edit-form,
.delete-button,
.cancel-delete,
.confirm-delete,
.new-vendor,
.about-us-a,
.github,
.wiki):active {
  position: relative;
  bottom: 0.4rem;
}

.register:focus,
.new-listing-submit:focus,
.room-name:focus,
.close-edit-form:focus,
.delete-button:focus,
.cancel-delete:focus,
.confirm-delete:focus,
.about-us-a:focus,
.github:focus {
  outline: none;
}

.room-name:hover,
.github:hover {
  outline: none;
  text-decoration: none;
}

.room-d {
  background-color: #ececec;
}

.new-listing {
  background-color: #ececec;
  width: 23rem;
  height: 100%;
}

.edit-form {
  background-color: #ececec;
  width: 24rem;
  height: 100%;
}

.catalog-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rd-img {
  width: 22rem;
  height: 25rem;
  object-fit: cover;
}

.rd-d {
  background-color: #ececec;
}

.lds-ring {
  color: black;
  display: inline-block;
  position: relative;
  left: 0;
  right: 0;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #d2c9c9;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #d2c9c9 transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
